body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* general button (hero+portf) */
.button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  font-family: Raleway;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #2196f3;
}
.logo--header {
  color: #212121;
}
.logo--footer {
  color: #ffffff;
}

header {
  border-bottom: 1px solid #ececec;
}

.container--header {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: 93px;
}
.navigation__item:not(:last-child) {
  margin-right: 50px;
  margin-bottom: 0px;
}
.navigation__link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  display: block;
  position: relative;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
}
.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}
.navigation__link--current {
  color: #2196f3;
}
.navigation__link--current:after {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  background-color: #2196f3;
}

.header-contacts {
  display: block;
  display: flex;
  padding: 0;
  margin-left: auto;
  font-size: 14px;
}
.header-contacts__item + .header-contacts__item {
  margin-left: 30px;
}
.header-contacts__link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
  text-decoration: none;
  color: #757575;
}
.header-contacts__link:hover, .header-contacts__link:focus {
  color: #2196f3;
}
.header-contacts__link:hover .header-contacts__icon, .header-contacts__link:focus .header-contacts__icon {
  fill: #2196f3;
}
.header-contacts__icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: #757575;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: auto;
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: #ffffff;
  text-transform: uppercase;
}
.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  display: block;
  margin: auto;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-link {
  color: #757575;
  text-decoration: none;
}
.section-title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: #212121;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.advantages__list {
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
  margin: 0px;
}
.advantages__name {
  font-size: 14px;
  line-height: 1.14;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #212121;
}
.advantages__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}
.advantages__text {
  font-size: 14px;
  line-height: 1.7;
}

.about {
  padding-top: 0;
}
.about-box {
  position: relative;
}
.about-list {
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
  margin: 0px;
}
.about-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  left: 0px;
  bottom: 0px;
  padding-top: 27px;
  padding-bottom: 27px;
}

.team {
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
  padding: 0;
  gap: 30px;
  flex-basis: calc(100% - 90px)/4;
}
.team-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-member-card {
  text-align: center;
  padding-top: 30px;
}
.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 10px;
  color: #212121;
}
.team-member-position {
  margin-bottom: 16px;
}

.social {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 10px;
  padding: 0px 32px 30px 32px;
}
.social-item {
  width: 44px;
  height: 44px;
}
.social-link {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.social-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
}
.social-link:hover .social-icon, .social-link:focus .social-icon {
  fill: #ffffff;
}
.social-link:hover, .social-link:focus {
  background-color: #2196f3;
}

.clients {
  padding: 0;
  display: flex;
  gap: 30px;
  justify-content: center;
  text-align: center;
}
.clients__item {
  display: flex;
  align-items: center;
  width: 170px;
  height: 92px;
}
.clients__link {
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4%;
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: #2196f3;
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196f3;
}
.clients__icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  fill: #afb1b8;
}

.buttons-list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 50px;
  gap: 8px;
}
.buttons-list .button {
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: inherit;
  display: block;
  text-align: center;
  margin: auto;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  background-color: #f5f4fa;
}
.buttons-list .button:hover,
.buttons-list .button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 30px;
  flex-basis: calc((100% - 60px) / 3);
}
.project-item {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-item:hover, .project-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-paragrapf {
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0px;
  bottom: 0px;
  padding: 63px 24px;
  transform: translateY(100%);
  color: rgb(255, 255, 255);
  background-color: rgba(33, 150, 243, 0.9);
}
.project-item:hover .project-paragrapf, .project-item:focus .project-paragrapf {
  transform: translateY(0%);
}
.project-card {
  width: 370px;
  height: 404px;
  border: 1px solid #eeeeee;
}
.project-title {
  margin-bottom: 4px;
}
.project-text-block {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
  border-top: none;
}
.project-overlay {
  position: relative;
  overflow: hidden;
}
.project-title {
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-text {
  line-height: 1.9;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-location {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;
}
.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding-left: 0;
  margin-top: 20px;
  font-style: normal;
}
.footer-mail, .footer-phone {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  display: flex;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.footer-mail:hover, .footer-mail:focus, .footer-phone:hover, .footer-phone:focus {
  color: #2196f3;
}

.container-footer {
  display: flex;
  gap: 70px;
  align-items: baseline;
  justify-content: space-between;
}

.footer-social-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 20px;
  margin-left: 0px;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 0;
}
.footer-social-item {
  width: 44px;
  height: 44px;
}
.footer-social-link {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.footer-social-link:hover, .footer-social-link:focus {
  background-color: #2196f3;
}
.footer-social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.subscribe {
  margin-left: 23px;
}
.subscribe-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}
.subscribe-form {
  display: flex;
  gap: 12px;
}
.subscribe-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}
.subscribe-input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 50px;
  padding-left: 28px;
  padding-right: 28px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop {
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  width: 528px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-exit {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-color: #ffffff;
}

.icon-exit {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  fill: #000000;
  width: 18px;
  height: 18px;
}
.icon-exit:hover, .icon-exit:focus {
  fill: #2196f3;
}

.modal-button {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  display: block;
  margin: auto;
  margin-top: 30px;
  padding: 10px 52px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.modal-button:hover, .modal-button:focus {
  background-color: #188CE8;
}

.modal-field {
  margin-bottom: 10px;
}

.modal-field-top {
  margin-top: 20px;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
  color: #212121;
}

.input-wrap {
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.input-wrap:hover, .input-wrap:focus {
  border: 1px solid #2196f3;
}
.input-wrap:hover .modal-icon, .input-wrap:focus .modal-icon {
  fill: #2196f3;
}

.modal-input {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  width: 100%;
  height: 40px;
  padding-left: 32px;
  border: none;
  border-radius: 4px;
  outline: transparent;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.input-text {
  font-weight: unset;
  font-size: 12px;
  line-height: 1.16;
  font-style: normal;
  letter-spacing: 0.01em;
}

.modal-icon {
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
}

.input-message {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 15px;
  border: none;
  outline: transparent;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  gap: 4px;
  margin-bottom: 0;
  color: rgb(117, 117, 117);
}

.agreement-doc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #2196f3;
}

.check-text span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 5px;
  border: 1px solid rgb(33, 33, 33);
  border-radius: 2px;
  content: "";
}

.modal-check:checked + .check-text span {
  background-color: #2196f3;
  border: none;
}

.agreement-doc {
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}/*# sourceMappingURL=main.css.map */