.advantages {
  &__list {
    padding: 0;
    margin: 0;
    margin: 0px;

    @include tablet {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
  }

  &__item:not(:last-child) {
    @include mobile {
      margin-bottom: 30px;
    }
  }

  &__item {
    @include tablet {
      flex-basis: calc((100% - 30px) / 2);
    }

    @include desktop {
      flex-basis: calc((100% - 90px) / 4);
    }
  }

  &__name {
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
    margin-top: 30px;
    margin-bottom: 10px;
    color: $title-text-color;

    @include tablet {
      text-align: start;
    }
  }

  &__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    background-color: #f5f4fa;
  }

  &__text {
    font-size: 14px;
    line-height: 1.7;
  }
}
