.footer-social {
    &-text {
        @include font-props(700, 14px, 1.2);
        margin-bottom: 20px;
        margin-left: 0px;
        text-transform: uppercase;
        color: $basic-white;
    }

    &-list {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;

        padding: 0;
    }

    &-item {
        width: 44px;
        height: 44px;
    }

    &-link {
        @include transition-cubic (background-color);
        display: flex;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $social-link-footer;
        border-radius: 50%;

        align-items: center;
        justify-content: center;
        text-decoration: none;


    }

    &-link:hover,
    &-link:focus {
        background-color: $accent-color;
    }

    &-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        fill: $basic-white;
    }
}