
header {
  border-bottom: 1px solid $header-border-grey;
}

.container--header {
  display: flex;
  align-items: center;
}

.navigation {
  display: none;

  align-items: center;
  padding: 0;
  margin-left: 93px;

  @include tablet {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0px;
  }

  &__link {
    @include transition-cubic(color);
    @include font-props(500, 14px, 1.1);
    letter-spacing: 0.02em;

    display: block;
    position: relative;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;

    color: $title-text-color;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }

  &__link--current {
    color: $accent-color;
  }

  &__link--current:after {
    @include transition-cubic(background-color);
    position: absolute;

    content: "";
    display: block;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: $accent-color;
  }
}

.header-contacts {
  display: none;
  padding: 0;
  margin-left: auto;
  font-size: 14px;

  @include tablet {
    display: block;
  }
  
  @include desktop {
    display: flex;
  }

  &__item+&__item {
    @include tablet {
      margin-top: 10px;
    }
    @include desktop {
      margin-left: 30px;
      margin-top: 0px;
    }
  }

  &__link {
    @include transition-cubic(color);
    @include font-props(500, 12px, 1.1);
    letter-spacing: 0.02em;

    display: flex;
    align-items: center;
    column-gap: 8px;
    text-decoration: none;
    
    color: $primary-text-color;
    
    @include desktop {
      font-size: 14px;
      column-gap: 10px;
    }
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: $accent-color;
  }

  &__icon {
    @include transition-cubic(fill);
    fill: $primary-text-color;
  }

  &__icon--mail {
    @include desktop {
      width: 16px;
      height: 12px;
    }
  }

  &__icon--phone {
    @include desktop {
      width: 10px;
      height: 16px;
    }
  }
}

