.modal-field {
  margin-bottom: 10px;
}

.modal-field-top {
  margin-top: 20px;
}
.modal-title {
  @include font-props(700, 20px, 1.15);
  
  text-align: center;
  margin-bottom: 12px;
  color: #212121;
}

.input-wrap {
  @include transition-cubic(border);
  
  position: relative;
  margin-top: 4px;
  
  border: 1px solid $modal-border-color;
  border-radius: 4px;
  
  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
    &:hover .modal-icon,
    &:focus .modal-icon {
      fill: $accent-color;
    }
}

.modal-input {
  @include font-props(400, 12px, 1.2);
  
  width: 100%;
  height: 40px;
  padding-left: 32px;
  
  border: none;
  border-radius: 4px;
  outline: transparent;

  color: $input-message-color;

  cursor: pointer;
}

.input-text {
  @include font-props(unset, 12px, 1.16);
  font-style: normal;
  letter-spacing: 0.01em;
}

.modal-icon {
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
}

.input-message {
  @include font-props(400, 12px, 1.2);
  
  resize: none;
  width: 100%;
  height: 120px;
  padding: 15px;
  
  border: none;
  outline: transparent;

  color: $input-message-color;
  cursor: pointer;
}

.check-text {
  @include font-props(400, 14px, 1.7);

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  gap: 4px;
  margin-bottom: 0;

  color: $check-text-color;
}

.agreement-doc {
  @include font-props(400, 14px, 1.7);
  color: $accent-color;
}

.check-text span {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 15px;
  margin-right: 5px;

  border: 1px solid $soft-black-color;
  border-radius: 2px;
  
  content: "";
}

.modal-check:checked + .check-text span {
  background-color: $accent-color;
  border: none;
}

.agreement-doc {
  text-decoration-skip-ink: none;
}