.modal-exit {
    @include transition-cubic(fill);
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    border: 1px solid $exit-button-color;
    border-radius: 50%;
    cursor: pointer;
    background-color: $basic-white;
}

.icon-exit {
    @include transition-cubic(fill);
    position: absolute;
    fill: $absolute-black;
    width: 18px;
    height: 18px;
    
    &:hover,
    &:focus {
        fill: $accent-color;
    }
}



.modal-button {
    @include transition-cubic(background-color);
    @include font-props(700, 16px, 1.9);
    letter-spacing: 0.06em;
    
    display: block;
    margin: auto;
    margin-top: 30px;
    padding: 10px 52px;

    border: none;
    border-radius: 4px;

    color: $basic-white;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px $modal-button-shadow-color;

    cursor: pointer;
   
    &:hover,
    &:focus {
        background-color: $modal-button-color;
    }
}
