.backdrop {
    @include transition-cubic((opacity,visibility));
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $shadow-black-color;
}

.modal {
    width: 528px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms $cubic;

    background-color: $about-header-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleY(0);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

