.buttons-list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 50px;
  gap: 8px;

  .button {
    @include transition-cubic((color, background-color, box-shadow));
    @include font-props(500, 16px, 1.6);
    letter-spacing: inherit;

    display: block;
    text-align: center;
    margin: auto;
    padding: 6px 22px;

    border: none;
    border-radius: 4px;

    background-color: $background-grey-buttons;
  }

  .button:hover,
  .button:focus {
    color: $basic-white;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
