.project {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 30px;
    flex-basis: calc((100% - 60px) / 3);

    &-item {
        @include transition-cubic(box-shadow);
    }
    
    &-item:hover,
    &-item:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &-paragrapf {
        @include transition-cubic(transform);
        @include font-props(400, 18px, 1.5);

        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0px;
        bottom: 0px;
        padding: 63px 24px;

        transform: translateY(100%);

        color: $about-header-color;
        background-color: $portf-project-overflow;
    }
    
    &-item:hover &-paragrapf,
    &-item:focus &-paragrapf {
        transform: translateY(0%);
    }

    &-card {
        width: 370px;
        height: 404px;
        border: 1px solid $portfolio-cards-border;
    }
    
    &-title {
        margin-bottom: 4px;
    }
    
    &-text-block {
        border: 1px solid $portfolio-cards-border;
        padding: 20px 24px;
        border-top: none;
    }
    
    &-overlay {
        position: relative;
        overflow: hidden;
    }
    
    &-title {
        color: $title-text-color;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }
    
    &-text {
        line-height: 1.9;
    }
}
