body {
    background-color: $basic-white;
    color: $primary-text-color;

    font-family: $font-default;
    letter-spacing: 0.03em;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
}

img {
    display: block;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(50%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* general button (hero+portf) */
.button {
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
}
