@mixin font-props($weight, $size, $lh) {
    font-weight: $weight;
    font-size: $size;
    line-height: $lh;
}

@mixin transition-cubic($property) {
 transition-property: $property;
 transition-duration: 250ms;
 transition-timing-function: $cubic;
}

@mixin mobile {
    @media screen and (max-width: 767px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 768px)  {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

@mixin retina {
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        @content
    }
}