$basic-white: #ffffff;
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$background-white: #f5f5f5;
$background-grey-buttons: #f5f4fa;
$background-grey: #2f303a;
$header-border-grey: #ececec;
$portfolio-cards-border: #eeeeee;
$icon-grey: #afb1b8;
$footer-contacts-soft-grey: rgba(255, 255, 255, 0.6);
$hero-gradient: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
$social-link-footer: rgba(255, 255, 255, 0.1);
$about-header-color: rgba(255, 255, 255, 1);
$about-header-bg-color: rgba(47, 48, 58, 0.8);
$portf-project-overflow: rgba(33, 150, 243, 0.9);
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$exit-button-color: rgba(0, 0, 0, 0.1);
$absolute-black: #000000;
$mail-input-grey: rgba(255, 255, 255, 0.3);
$shadow-black-color: rgba(0, 0, 0, 0.2);
$modal-border-color: rgba(33, 33, 33, 0.2);
$modal-grey-color: rgba(117, 117, 117, 0.5);
$check-text-color: rgba(117, 117, 117, 1);
$soft-black-color: rgba(33, 33, 33, 1);
$modal-button-color: #188CE8;
$modal-button-shadow-color: rgba(0, 0, 0, 0.15);
$input-message-color: rgba(0, 0, 0, 1);
$team-item-shadow-color-1: rgba(0, 0, 0, 0.12);
$team-item-shadow-color-2: rgba(0, 0, 0, 0.14);
$team-item-shadow-color-3: rgba(0, 0, 0, 0.2);

$font-default: Roboto, sans-serif;
$font-logo: Raleway;